body{
	background-image: url('bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.showmap{
	position: fixed;
	top:60px;
	right: 20px;
	font-size: 30px;
	color: white;
	background-color: #e650c9;	
	padding: 10px;
	border-radius: 50%;
	z-index: 100;
	box-shadow: 0px 5px 20px black;
	
}
.gallery .image-container img{
	margin-top: 20px;
	max-height: 400px;
	margin-left: 10px;
	width: 100%;

}
.gallery .image-container .row{
	width: 100%;
}


.gallery-heading{
	width: 100%;
	height: 50px;
	text-align: center;
	font-family: sans-serif;
	
	background-color: #76b51a;
}
.gallery-heading p{
	color: white;
	font-size: 30px;

}

.maparea{
	width: 100%;
	height: 100%;
	
	border:1px solid yellow;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	
	z-index: 1;
	overflow: hidden;
	margin: 0px 5px;
}
.maparea .mapiframe{
	width: 100%;
	height: 100%;
}
.wrapper{
	width: 90%;
	height: 250px;
	margin: 10px auto;
	background-color: rgba(0,0,0,0.7);
	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	transition: all 1s linear;

}

.window-close{
	font-size: 30px;
	position: absolute;
	top: 5px;
	right: 5px;
}
.inner{
	color: white;
	
	

}
.inner .heading{
	width: 100%;
	font-weight: bold;
	background-image: linear-gradient(to bottom right, #76b51a,#5bf7be);
	height: 40px;
	padding: 5px;
	text-align: center;
	font-family: sans-serif;
	color: black;
	

}
.inner .heading p{
	font-size: 20px;
}
.content{
	padding: 5px;
}
.content p{
	font-family: sans-serif;
	font-size: 17px;
}
.content .fa-check{
	margin: 2px 5px;
}
.content ul li{
	list-style: none;
	font-family: sans-serif;
}



@keyframes moveInLeft{
	0%{
		opacity: 0;
		transform: translateX(-200px) ;
	}
	80%{
		transform: translateX(20px) ;
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}